:root {
  /* Palette */
  --ifm-color-primary: rgb(0, 65, 177);

  /* Fonts */
  --ifm-font-size-base: 1rem;
  --ifm-line-height-base: 1.6;
  --ifm-heading-line-height: 1.4;
  --ifm-heading-margin-bottom: 0.25rem;

  /* Navbar */
  --ifm-navbar-background-color: rgb(255, 255, 255);
  --ifm-navbar-sidebar-background-color: rgb(255, 255, 255);

  /* Footer */
  --ifm-footer-background-color: rgb(28, 28, 30);
  --ifm-footer-title-color: rgb(250, 250, 252);
  --ifm-footer-link-color: rgb(180, 180, 182);
}

/* Dark theme overrides */
html[data-theme="dark"] {
  --ifm-color-primary: rgb(255, 226, 115);
  --ifm-navbar-background-color: rgb(40, 40, 42);
  --ifm-navbar-sidebar-background-color: rgb(40, 40, 42);
}

/* Overlay nav on landing when the scrollbar is at the top of the page. */
html[data-page="home"] body {
  padding-top: 0;
}

html[data-page="home"][data-scroll="noScroll"] {
  --ifm-navbar-shadow: none;
  --ifm-navbar-background-color: transparent;
}

/* Header & Article */
header,
article {
  font-family: Merriweather;
  font-size: 1.15rem;
}

header > h1 {
  line-height: 100%;
  font-size: 2.75rem !important;
}

header > h1.margin-bottom--sm {
  margin-bottom: 0 !important;
}

/* Avatar */
.avatar {
  margin-top: 1rem;
  margin-left: 1.5rem;
}

.avatar__intro {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
